POSTGRES_DB=orderhub
POSTGRES_USER=orderhub
POSTGRES_PASSWORD=change_me_strong_password

PGADMIN_DEFAULT_EMAIL=admin@orderhub.dev
PGADMIN_DEFAULT_PASSWORD=change_me_admin_password

JWT_KEY=change_me_min_32_characters_random_string!!

SEQ_ADMIN_PASSWORD=change_me_seq_admin_password
